; For all collection requirements, see:
; https://github.com/MediaBrowser/Emby/wiki/Item-Information
; NOTE: These are case sensitive

; Examples:

; Gets all series from HBO with a rating of 8 and above.
;[Highly Rated HBO Series]
;Type=Series
;Studios = HBO
;MinCommunityRating = 8

; Gets any library items that is found in the 'comedy' genre
; [Comedies]
; Genres = comedy
